<mat-toolbar>
    <button class="button left-button"  (click)="toggleSidenav()">
            <mat-icon class="white-icon">menu</mat-icon>
    </button>
    <div class="title">{{ title }}</div>
    <button class="button right-button">
        <mat-icon class="white-icon">
            person
        </mat-icon>
    </button>
    <button class="button right-button">
        <mat-icon class="white-icon">
            settings
        </mat-icon>
    </button>
</mat-toolbar>
<app-sidenav *ngIf="showSidenav">
    
</app-sidenav>