<mat-sidenav-container class="sidenav-container">
	<mat-sidenav #sidenav class="sidenav" mode="side" opened="true">
		<mat-nav-list>
			<a  [routerLink]="['/']">
				<mat-list-item class="sidenav-item">
					Account
					<mat-icon mat-list-icon class="sidenav-icon">account_circle</mat-icon>
				</mat-list-item>
				</a>
            <a  [routerLink]="['/']">
			<br />
			<mat-list-item class="sidenav-item">
				Dashboard
				<mat-icon mat-list-icon class="sidenav-icon">dashboard</mat-icon>
			</mat-list-item>
			</a>
			<br />
            <a [routerLink]="['/tasks']">
			<mat-list-item class="sidenav-item">
                Tasks
				<mat-icon mat-list-icon class="sidenav-icon">task</mat-icon>
			</mat-list-item>
            </a>
		</mat-nav-list>
</mat-sidenav>
</mat-sidenav-container>



