.title-center { 
  margin: 0 auto; 
  color: white; 
} 

.title-toolbar { 
  background: #575757; 
  border-radius: 10px;
  overflow: hidden;
  background-clip: padding-box;
  border: 4px #282828 solid;
} 


mat-sidenav-content{
    height: 1238px;
    background-color: #8b8b8b;
} 

mat-sidenav{
    min-height: 100vh;
    box-sizing: border-box;
    padding: 25px;
    background-color: #3f3f3f;
    border-radius: 20px;
    border: 2px #121212 solid;
} 

.button-row{
  display: table-cell;
  max-width:200px;
  margin: 8px 8px 8px 0;
  color: #3f3f3f;
  padding: 10px 10px;
}

.toolbar-button{
  color: #3f3f3f;
}

mat-icon {
  color: #FFFFFF;
  padding: 10px 10px;
}

.a{
  color:#FFFFFF;
}